<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.shusheng007.readwritesplit.demo.persistence.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="top.shusheng007.readwritesplit.demo.persistence.po.Student">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,name,age,
        create_time
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into student (`name`, age, create_time)
        values (#{student.name}, #{student.age}, #{student.createTime})
    </insert>
    <select id="list" resultMap="BaseResultMap">
        select id, `name`, age, create_time
        from student
    </select>

</mapper>
