<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.shusheng007.mybatisplus.persistence.mapper.StudentPoMapper">

    <resultMap id="BaseResultMap" type="top.shusheng007.mybatisplus.persistence.po.StudentPo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="stuName" column="stu_name" jdbcType="VARCHAR"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stu_name,age,
        create_time
    </sql>
</mapper>
